{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolores, itaque odio, facilis 
        temporibus reiciendis, sed aperiam architecto iusto a deserunt sit consequatur eligendi non 
        optio excepturi ratione corporis molestias.
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Perspiciatis animi facilis ratione id deleniti suscipit minus,
         iure dolor nulla, pariatur nostrum odio blanditiis praesentium
         eum quaerat, iusto repellat et eaque sit eos laboriosam. Quas alias, 
         consequuntur aliquam eveniet similique voluptatum dicta nisi, consequatur
          voluptates quia perspiciatis odio maiores exercitationem quisquam!
        </p>
</div>

{% endblock content %}